# Configuración de Email - Espacio Boulevard
MAIL_HOST=mail.espacioboulevardlinares.cl
MAIL_PORT=465
MAIL_IS_SECURE=true
MAIL_USER=soporte@espacioboulevardlinares.cl
MAIL_PASSWORD=Y3abD!K?rjrGo
MAIL_FROM=soporte@espacioboulevardlinares.cl
